* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #232325;
}
.top-navbar{
    width: 100vw;
    margin: 0 5% 0 2% !important;
    
}
.logo {
    width: 250px;
    height: auto;
    cursor: pointer;
}