* {
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #232325;
}
.top-navbar{
    width: 100vw;
    margin: 0 5% 0 2% !important;
    
}
.logo {
    width: 250px;
    height: auto;
    cursor: pointer;
}

.selection-container > ul > li > a, 
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

.btn-custom-dark {
    background-color: #21262D;
    border: solid 2.5px #31363D;
    border-radius: 8px 8px;
    font-weight: bold;
    padding: 6px 12px;
}

/* container-banner-section*/

.main-banner {
    background-color: #2B2B2F;
}

.banner-section {
    padding: 5% 2% 5% 0;
}

.head-banner {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
}

.head-banner > h2 > span,
.second-text-center > h2 > span,
.why-us-section > h2 > span,
.container > .content > p > span,
.fourth-section > h2 > span {
    font-weight: bold;
    color: #A75E33;
}

.head-banner > h2 {
    margin-bottom: 2.5rem;
}

.head-banner > h5 {
    color: #9C9C9C;
    margin-bottom: 2.5rem;
}

/* head-image-banner */

.head-image-banner > .img-banner {
    width: 350px;
    height: auto;
}

/* be our parnter button */

.btn-custom-partner {
    margin-left: 1.5%;
    background-color: rgba(167, 94, 51, 60%);
    border: solid 2px #DC7B42;
    border-radius: 8px 8px;
    padding: 8px 27px;
    box-shadow: 2px 2px 4px #000000;
}

/* solid border one-liner */
.solid {
    border-top: 2px solid grey;
    transform: rotate(-3deg);
}

/* third section */
/* timeline carousel */
.timeline {
    position: relative;
    border-left: solid 3px #ffffff;
    margin: 40px auto;
    font-size: 1.03em;
    width: 50%;
}

.circle {
    position: absolute;
    text-align: center;
    border-radius: 50%;
    width: 23px;
    background-color: #ffffff;
    left: -14px;
    
}

.container .content > p {
    margin-left: 14px;
    padding-bottom: 10px;
}

/* fourth section */
/* reverse border one-liner */
.reverse-solid {
    border-top: 2px solid grey;
    transform: rotate(3deg);
}

.fourth-section > p {
    font-size: 20px;
    color: #9C9C9C;
    margin: 3% 10% 5% 10%;
    padding: 0 5%;
    text-align: center;
    
}

.fourth-section > p > span {
    font-weight: bold;
    color: #9C9C9C;
}

/* button for contact us */
.btn-contact-us {
    background-color: rgba(33, 204, 81, 10%);
    border: solid 2px #2B7941;
    border-radius: 8px 8px;
    padding: 8px 27px;
    box-shadow: 2px 2px 4px #000000;
}

/* fifth section */
/* solid border one-liner */
.straight-solid {
    margin: 2% 0;
    border-top: 2px solid grey;
}

.fifth-banner-section > h1 {
    color: #9C9C9C;
    margin: 5% 10%;
    padding: 0 1%;
}

/* footer */
.codehub-logo > h6,
.social-media-section > h6{
    margin-top: 10px;
    color: #9C9C9C;
}

.social-media-section > h6 > span {
    color: #9C9C9C;
    text-decoration: underline;
}

.social-media-icons > h1 > a > i {
    color: #ffffff;
}

/* media query */
@media screen and (max-width: 500px) {


}